{% macro matches_table(matches) -%}
  <table class="table">
    <thead>
      <tr>
        <th>When</th>
        <th>Red (Off)</th>
        <th>Red (Def)</th>
        <th>Score</th>
        <th>Blue (Def)</th>
        <th>Blue (Off)</th>
      </tr>
    </thead>
    <tbody>

    {% for match in matches %}
      <tr>
        <td>{{ match.date | format_rel_datetime }}</td>
        <td>{{ player_link(match.red2) }}</td>
        <td>{{ player_link(match.red1) }}</td>
        <td>{{ match.score_red }} : {{ match.score_blue }}</td>
        <td>{{ player_link(match.blue1) }}</td>
        <td>{{ player_link(match.blue2) }}</td>
        <td><a href="{{ url_for('edit_score', match_id=match.id) }}">Edit</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{%- endmacro %}

{% macro table_table(rows, opponent=False, defense=False) -%}

  <table class="table">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Player</th>
        <th title="Won">W</th>
        <th title="Lost">L</th>
        <th title="Goals">G</th>
        <th title="Goals/Game">G/G</th>
        <th title="Points">Pt.</th>
        <th title="Games won in %">W%</th>
      </tr>
    </thead>
    <tbody>

    {% for player, stats in rows %}
      <tr class="{{ better_or_worse(stats) }}">
        <td>{{ loop.index }}</td>
        {% if opponent %}
            <td>{{ player_link(player[0])}}
            <span style="font-size: 80%">
            {% if defense %}
                &larr;
            {% else %}
                &rarr;
            {% endif %}
            {{player_link(player[1])}} </span></td>
        {% else %}
        <td>{{ player_link(player) }}</td>
        {% endif %}
        <td>{{ stats.won }}</td>
        <td>{{ stats.lost }}</td>
        <td>{{ stats.diff }}</td>
        <td>{{ '%.2f' | format(stats.diff/stats.games) }}</td>
        <td>{{ stats.points }}</td>
        <td>{{ '%d%%' | format(stats.ratio) }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{%- endmacro %}

{% macro better_or_worse(stats) -%}
  {% if stats.ratio > 70 %}
    better
  {% elif stats.ratio < 30 %}
    worse
  {% endif %}
{%- endmacro %}

{% macro player_link(player) -%}
  {% if player.name %}
    <a href="{{url_for('player', name=player.name)}}">{{ player.name }}</a>
  {% elif player %}
    <a href="{{url_for('player', name=player[0].name)}}">{{ player[0].name }}</a>
    <a href="{{url_for('player', name=player[1].name)}}">{{ player[1].name }}</a>
  {% endif %}

{%- endmacro %}

{% macro date_scores_list(date_scores) -%}
    {% for date, scores in date_scores %}
    <h3>{{ date.strftime('%Y-%m-%d') }}</h3>
    <ul>
      {% for score in scores %}
      <li class='{%if score.won %}won{% else %}lost{% endif %}'>
        {{player_link(score.match.red1)}}
          {% if score.match.red2 %} / {{player_link(score.match.red2)}}{% endif %}

        {{ score.match.score_red }} : {{ score.match.score_blue }}

        {{player_link(score.match.blue1)}}
          {% if score.match.blue2 %} / {{player_link(score.match.blue2)}}{% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
{%- endmacro %}


{% macro date_matches_list(date_matches) -%}
    {% for date, matches in date_matches %}
    <h3>{{ date.strftime('%Y-%m-%d') }}</h3>
    <ul>
      {% for score in matches %}
      <li>
        {{player_link(score.red1)}}
          {% if score.red2 %} / {{player_link(score.red2)}}{% endif %}

        {{ score.score_red }} : {{ score.score_blue }}

        {{player_link(score.blue1)}}
          {% if score.blue2 %} / {{player_link(score.blue2)}}{% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
{%- endmacro %}

{% macro elo_table(players) -%}
  <table class="table">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Player</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>

    {% for rank, player, rating in players %}
      <tr>
        <td>{{ rank }}</td>
        <td>{{ player_link(player) }}</td>
        <td>{{ rating }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{%- endmacro %}

{% macro select_intervall(url) %}
<div class='row'>
  <div class='span7 column'>
    <p>
      <a href="{{ url_for(url, interval='weeks', n=1)}}">1 weeks</a> |
      <a href="{{ url_for(url, interval='weeks', n=4)}}">4 weeks</a> |
      <a href="{{ url_for(url, interval='days', n=100)}}">100 days</a> |
      <a href="{{ url_for(url, interval='weeks', n=52)}}">1 year</a> |
      <a href="{{ url_for(url, interval='days', n=0)}}">all</a>
    </p>
  </div>
</div>
{%- endmacro %}
