{% extends "base.html" %}
{% set active_page = 'chart' -%}
{% block title %}Points chart{% endblock %}
{% block js %}
  <script src="/static/js/jquery.flot.min.js"></script>
  <script src="/static/js/jquery.flot.time.min.js"></script>
  <script src="/static/js/jquery.flot.selection.min.js"></script>
  <script src="/static/js/chart.js"></script>
  <script type="text/javascript">
    var chart = new Chart({
      datasets: {{ chart |tojson|safe }}
    });
  </script>
{% endblock %}

{% block content %}
  <div class='row'>
    <h1>Points chart</h1>
  </div>
  <div class='span9 text-center'>
    <div class="btn-group">
      <a class="btn {% if games_type == 'all' %}active{% endif %}" href="{{ url_for('chart', games_type='all')}}">all</a>
      <a class="btn {% if games_type == 'single' %}active{% endif %}" href="{{ url_for('chart', games_type='single')}}">single</a>
      <a class="btn {% if games_type == 'double' %}active{% endif %}" href="{{ url_for('chart', games_type='double')}}">double</a>
    </div>
  </div>
  <div class="row">
    <div class="span8">
      <div id="chart"></div>
    </div>
    <div class="span1">
      <div id="player_choises"></div>
    </div>
  </div>
  <div class="row">
    <div class="span9 text-center">
      <button type="button" class="btn" id="reset_zoom">reset zoom</button>
    </div>
  </div>
{% endblock %}
