{% extends "base.html" %}
{% block title %}Add Player{% endblock %}
{% block content %}
  <h1>Add Player</h1>
    <div class='row'>
    {% for key, msgs in form.errors.iteritems() %}
    <p>{{form[key].label.text}}: {{''.join(msgs)}}</p>
    {% endfor %}
  </div>
  <div class='row'>
    <div class='span4 columns'>
      <form id="add_player_form" method="post" accept-charset="utf-8">
          {{ form.csrf_token }}
      {{ form.name.label }}
      <div>{{ form.name }}</div>
      <button type="submit">Add Player</button>
      </form>
    </div>
  </div>

  {% import '_macros.html' as macros %}
  {{ macros.date_scores_list(date_scores)}}

{% endblock %}