{% extends "base.html" %}
{% block title %}Player{% endblock %}
{% block content %}
  <h1>{{player.name}}</h1>
  <h2>Stats</h2>
  <div class='row'>
    <div class='span4 columns'>
      <table class="common-table">
        <tbody>
          <tr><td>Won</td><td>{{player.won}}</td></tr>
          <tr><td>Lost</td><td>{{player.lost}}</td></tr>
          <tr><td>Points</td><td>{{player.points}}</td></tr>
          <tr><td>Ratio</td><td>{{'%d%%' | format(player.ratio)}}</td></tr>
        </tbody>
      </table>
    </div>
  </div>

  {% import '_macros.html' as macros %}
  {{ macros.date_scores_list(date_scores)}}

{% endblock %}