{% extends "base.html" %}
{% set active_page = 'add_score' -%}
{% block title %}Add new score{% endblock %}
{% block content %}
  <div class='row'>
    <h1>Add New Score</h1>
  </div>

{% import 'score_form.html' as score_form %}
{{ score_form.score_form(form, 'Add')}}

  <div class='row'>
    <div class='span7 column'>
      <h2>Last Matches</h2>
      {% import '_macros.html' as macros %}
      {{ macros.matches_table(matches)}}
    </div>
  </div>

{% endblock %}
