{% macro score_form(form, submit_text, allow_delete=False) -%}
  <div class='row'>
    {% for key, msgs in form.errors.iteritems() %}
    <p>{{form[key].label.text}}: {{''.join(msgs)}}</p>
    {% endfor %}
  </div>

  <form id="score_form" method="post" accept-charset="utf-8">
    {{ form.csrf_token }}
    <h5 class='formlabel'>{{ form.date.label }}</h5>
    <div> {{ form.date }} </div>
    <input type="hidden" name="delete" id="delete_score" value="false">
    <div class='row score_input'>
      <div class='formcol player2 column span2'>
        <h5 class='formlabel'>Blue (off)</h5>
        <div>{{ form.blue2(class='player player2')}}</div>
      </div>
      <div class='formcol player2 column span1'>
        &nbsp;
      </div>
      <div class='formcol column span2'>
        <h5 class='formlabel'>Blue<span class='player2'> (def)</span></h5>
        <div>{{ form.blue1(class='player') }}</div>
      </div>
    </div>

    <div class='row score_input'>
      <div class='formcol player2 column span1'>
        &nbsp;
      </div>
      <div class='formcol column span5'>
        <div>Red {{ form.score_red(class='score') }}:{{ form.score_blue(class='score') }} Blue</div>
      </div>
    </div>

    <div class='row score_input'>
      <div class='formcol column span2'>
        <h5 class='formlabel'>Red<span class='player2'> (def)</span></h5>
        <div>{{ form.red1(class='player', id='red1_select') }}</div>
      </div>
      <div class='formcol player2 column span2 offset1'>
        <h5 class='formlabel'>Red (off)</h5>
        <div>{{ form.red2(class='player player2')}}</div>
      </div>
    </div>


    <div class='row score_input'>

    </div>

    <div class='row'>
      <div class='span2 column'>
        <div id='switch_multiplayer' class='btn secondary'>1 on 1</div>
        {{ form.multiplayer(class='hidden', id='multiplayer') }}
      </div>
      {% if allow_delete %}
      <div class='span2 column'>
        <input class='btn secondary' type="button" id="delete_score_btn" value="Delete">
      </div>
      {% else %}
      <div class='span2 column'>
        &nbsp;
      </div>
      {% endif %}
      <div class='offset1 span2 column'>
        <input class='btn primary' type="submit" value="{{submit_text}} &rarr;">
      </div>
    </div>
  </form>

{%- endmacro %}

