{% extends "base.html" %}
{% set active_page = 'table_opponents' -%}
{% block title %}Table for last {{ n_text }} {{ interval }}{% endblock %}
{% block content %}

{% import '_macros.html' as macros %}

{{ macros.select_intervall('table_opponents') }}

<div class='row'>
  <div class='span7 column'>
    {% if defense %}
    <h2>Table for defense last {{ n_text }} {{ interval }}</h2>
    <p><a href="{{ url_for('table_opponents', interval=interval, n=n)}}">For offense click here.</a></p>
    {% else %}
    <h2>Table for offense last {{ n_text }} {{ interval }}</h2>
    <p><a href="{{ url_for('table_opponents', defense=True, interval=interval, n=n)}}">For defense click here.</a></p>
    {% endif %}
    {{ macros.table_table(opponent_statistics.table(), opponent=True, defense=defense)}}
  </div>
</div>

{% endblock %}