{% extends "base.html" %}
{% set active_page = 'table' -%}
{% block title %}Table for last {{ n_text }} {{ interval }}{% endblock %}
{% block content %}

{% import '_macros.html' as macros %}
{{ macros.select_intervall('table') }}

<div class='row'>
  <div class='span7 column'>
    <p>
      {% if not games %}
      all |
      {% else %}
      <a href="{{ url_for('table', interval=interval, n=n, games=None)}}">all</a> |
      {% endif %}
      {% if games == 'single' %}
      single |
      {% else %}
      <a href="{{ url_for('table', interval=interval, n=n, games='single')}}">single</a> |
      {% endif %}
      {% if games == 'double' %}
      double
      {% else %}
      <a href="{{ url_for('table', interval=interval, n=n, games='double')}}">double</a>
      {% endif %}

    </p>
  </div>

</div>

<div class='row'>
  <div class='span6 column'>
    <h2>Table for last {{ n_text }} {{ interval }}</h2>
    {{ macros.table_table(statistics.table())}}
  </div>
</div>

{% endblock %}