{% extends "base.html" %}
{% set active_page = 'table_teams' -%}
{% block title %}Table for last {{ n_text }} {{ interval }}{% endblock %}
{% block content %}

{% import '_macros.html' as macros %}

{{ macros.select_intervall('table_teams')  }}

<div class='row'>
  <div class='span7 column'>
    {% if positions %}
    <h2>Table for def/off teams last {{ n_text }} {{ interval }}</h2>
    <p><a href="{{ url_for('table_teams', interval=interval, n=n)}}">For combined click here.</a></p>
    {% else %}
    <h2>Table for teams last {{ n_text }} {{ interval }}</h2>
    <p><a href="{{ url_for('table_teams', interval=interval, n=n, positions='true')}}">For defense/offense separated click here.</a></p>
    {% endif %}
    {{ macros.table_table(team_statistics.table())}}
  </div>
</div>

{% endblock %}
